
### python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### VisualStudioCode ###
.vscode/*

### config files ###
config.yaml

### log files ###
*.log

### Serverless directories ###
.serverless
.env_temp
### nodejs ###
node_modules/
